
*.~30~
*.~29~
*.~32~
*.~33~
*.~31~
*.~35~
*.~34~
*.~28~
*.~27~
*.~4~
*.~2~
*.~3~
*.~13~
*.~14~
*.~12~
*.~16~
*.~15~
*.~11~
*.~10~
*.~5~
*.~17~
*.~18~
*.~9~
*.~1~
*.~26~
*.dcu
*.exe
*.dproj
*.local
*.identcache
*.res
*.~6~
*.~7~
*.~8~
*.res
*.dsk
